.Page
  .HeadContent
    = render "devise/shared/header"

  .MainContent
    .MainContent__Signin
      送付先住所登録
    = form_with model: @delivery_address, url: delivery_address_path, local: true do |f|
      = render "devise/shared/error_messages", resource: @delivery_address
      .MainContent__Signin__Form
        = f.label :郵便番号, class: 'FormTitle'
        = f.label :必須, class: 'Mandatory'
        %br/
        = f.text_field :postal_code, placeholder: "000-0000", autofocus: true, class: 'FormBar'
      .MainContent__Signin__Form
        = f.label :都道府県, class: 'FormTitle'
        = f.label :必須, class: 'Mandatory'
        %br/
        = f.text_field :prefecture, placeholder: "大阪府", autofocus: true, class: 'FormBar'
      .MainContent__Signin__Form
        = f.label :市区町村, class: 'FormTitle'
        = f.label :必須, class: 'Mandatory'
        %br/
        = f.text_field :municipality, placeholder: "大阪市", autofocus: true, class: 'FormBar'
      .MainContent__Signin__Form
        = f.label :番地, class: 'FormTitle'
        = f.label :必須, class: 'Mandatory'
        %br/
        = f.text_field :address, placeholder: "1-23-4", autofocus: true, class: 'FormBar'
      .MainContent__Signin__Form
        = f.label :マンション名, class: 'FormTitle'
        %br/
        = f.text_field :apartment_name, placeholder: "ロイヤルビル", autofocus: true, class: 'FormBar'
      .MainContent__Signin__Form
        = f.label :部屋番号, class: 'FormTitle'
        %br/
        = f.text_field :apartment_room_number, placeholder: "777", autofocus: true, class: 'FormBar'
        .MainContent__Signin__Form
        = f.label :電話番号, class: 'FormTitle'
        = f.label :必須, class: 'Mandatory'
        %br/
        = f.text_field :phone, placeholder: "000-0000-0000", autofocus: true, class: 'FormBar'
      .RealName
        送付先 氏名
        = f.label :必須, class: 'Mandatory'
        .RealName__Form
          .RealName__Form--Field
            = f.text_field :delivery_family_name, placeholder: "例）山田", class: 'FormBar'
          .RealName__Form--Field
            = f.text_field :delivery_last_name, placeholder: "例）太郎", class: 'FormBar'
      .RealNameKana
        送付先 氏名カナ
        = f.label :必須, class: 'Mandatory'
        .RealNameKana__Form
          .RealNameKana__Form--Field
            = f.text_field :delivery_family_name_kana, placeholder: "例）ヤマダ", class: 'FormBar'
          .RealNameKana__Form--Field
            = f.text_field :delivery_last_name_kana, placeholder: "例）タロウ", class: 'FormBar'

      .Actions
        = f.submit "サインアップ", class: 'CommitBtn'

  .FootContent
    = render "devise/shared/footer"