
  .AccountPage__form
    = form_for(current_user) do |f|
      .FormField
        .FormField__label--normal
          = f.label :nickname
        .FormField__input--normal
          = f.text_field :nickname, autofocus: true
      .FormField
        .FormField__label--normal
          = f.label :introduction
        .FormField__input--normal
          = f.text_field :introduction
      = f.submit "Update", class: 'Button UserButton'