.Page
  .TopContents
    = render "items/header"

  .MiddleContents
    .MiddleContents__Head
      .MiddleContents__Head__Left
        ようこそ
        = @nickname
        さん
      .MiddleContents__Head__Right
        = link_to root_path, class: 'linkBtn' do
          プロフィール編集

    .MiddleContents__Neck
      %ul.MiddleContents__Neck__Business
        %li
          出品数：
          3
          -# = @user.items(seller_id).length
        %li
          購入数：
          2
          -# = @user.items(buyer_id).length
      .MiddleContents__Neck__Profile
        -# = @user.profile
        こんにちは。ここには、他のユーザーが、あなたのマイページにアクセスしたときに、あなたのことを知ってもらう他に自己紹介文を記述しましょう。
        %br
        これからの実装メモ
        %br
        プロフィールカラムをユーザーテーブルに追加。
        %br
        ユーザー編集機能にて、ニックネームとプロフィール文編集を追加、本人情報やクレジット編集、送付先住所編集を実装する。尚、これらの機能は本人にのみ許可する。
        %br
        プロフィール文を改行、空欄ありで表示。
        %br
        クレジット登録機能そ実装するため、gem 'Pay JP'をインストール。クレジットカードのテーブル、ユーザーとのアソシエーションを作成する。
        %br
        出品・購入した商品のトップ画像をマイページに表示する。
        %br
        新たなビューとして、ユーザー編集、クレカ登録、送付先住所編集、ログアウト画面を実装する。

    .MiddleContents__Body
      .MiddleContents__Body__Title
        出品した商品
      %ul.ItemsList
        -# - @items.each do |item|
        %li.item
          .item__image
            = link_to image_tag("/images/product-image-05.jpg",alt: "画像",class: "image"), root_path
            -# root_path >> item_show_view
            -# = item.images.photo.select[1]
          .item__name
            仮商品名（出品）
            -# = item.name
          .item__info
            .item__info__price
              400
              円
              -# = item.price
            .item__info__like
              = icon('fa', 'star', class: "like__icon")
        %li.item
          .item__image
            = link_to image_tag("/images/product-image-04.jpg",alt: "画像",class: "image"), root_path
            -# root_path >> item_show_view
            -# = item.images.photo.select[1]
          .item__name
            仮商品名（出品）
            -# = item.name
          .item__info
            .item__info__price
              400
              円
              -# = item.price
            .item__info__like
              = icon('fa', 'star', class: "like__icon")
        %li.item
          .item__image
            = link_to image_tag("/images/product-image-03.jpg",alt: "画像",class: "image"), root_path
            -# root_path >> item_show_view
            -# = item.images.photo.select[1]
          .item__name
            仮商品名（出品）
            -# = item.name
          .item__info
            .item__info__price
              400
              円
              -# = item.price
            .item__info__like
              = icon('fa', 'star', class: "like__icon")
        %li.item
          .item__image
            = link_to image_tag("/images/product-image-02.jpg",alt: "画像",class: "image"), root_path
            -# root_path >> item_show_view
            -# = item.images.photo.select[1]
          .item__name
            仮商品名（出品）
            -# = item.name
          .item__info
            .item__info__price
              400
              円
              -# = item.price
            .item__info__like
              = icon('fa', 'star', class: "like__icon")
        %li.item
          .item__image
            = link_to image_tag("/images/product-image-01.jpg",alt: "画像",class: "image"), root_path
            -# root_path >> item_show_view
            -# = item.images.photo.select[1]
          .item__name
            仮商品名（出品）
            -# = item.name
          .item__info
            .item__info__price
              400
              円
              -# = item.price
            .item__info__like
              = icon('fa', 'star', class: "like__icon")

      -# %ul.ItemsList
      -#   - @user.items.each do |item|
      -#   %li.itemsimage= item.images.image
      -#   %li.itemsinfo= item.name
      -#   %li.itemsinfo= item.price

      .MiddleContents__Body__Title
        購入した商品
      %ul.ItemsList
        %li.item
          .item__image
            = link_to image_tag("/images/product-image-05.jpg",alt: "画像",class: "image"), root_path
            -# root_path >> item_show_view
            -# = item.images.photo.select[1]
          .item__name
            仮商品名（購入）
            -# = item.name
          .item__info
            .item__info__price
              400
              円
              -# = item.price
        %li.item
          .item__image
            = link_to image_tag("/images/product-image-04.jpg",alt: "画像",class: "image"), root_path
            -# root_path >> item_show_view
            -# = item.images.photo.select[1]
          .item__name
            仮商品名（購入）
            -# = item.name
          .item__info
            .item__info__price
              400
              円
              -# = item.price
        %li.item
          .item__image
            = link_to image_tag("/images/product-image-03.jpg",alt: "画像",class: "image"), root_path
            -# root_path >> item_show_view
            -# = item.images.photo.select[1]
          .item__name
            仮商品名（購入）
            -# = item.name
          .item__info
            .item__info__price
              400
              円
              -# = item.price
        %li.item
          .item__image
            = link_to image_tag("/images/product-image-02.jpg",alt: "画像",class: "image"), root_path
            -# root_path >> item_show_view
            -# = item.images.photo.select[1]
          .item__name
            仮商品名（購入）
            -# = item.name
          .item__info
            .item__info__price
              400
              円
              -# = item.price
        %li.item
          .item__image
            = link_to image_tag("/images/product-image-01.jpg",alt: "画像",class: "image"), root_path
            -# root_path >> item_show_view
            -# = item.images.photo.select[1]
          .item__name
            仮商品名（購入）
            -# = item.name
          .item__info
            .item__info__price
              400
              円
              -# = item.price

    .MiddleContents__Foot
      .MiddleContents__Foot__Title
        設定
      %ul.ConfigurationList
        %li.ConfigurationList__Btn
          = link_to root_path, class: 'linkBtn' do
            発送元
        %li.ConfigurationList__Btn
          = link_to root_path, class: 'linkBtn' do
            お届け先
        %li.ConfigurationList__Btn
          = link_to card_new_path, class: 'linkBtn' do
            支払い方法

      %ul.ConfigurationList
        %li.ConfigurationList__Btn
          = link_to root_path, class: 'linkBtn' do
            本人情報
        %li.ConfigurationList__Btn
          = link_to root_path, class: 'linkBtn' do
            お問い合わせ
        %li.ConfigurationList__Btn
          = link_to root_path, class: 'linkBtn' do
            ガイド

  .ButtomContents
    = render "items/footer"

  .New-createBtn
    %span.New-createBtn__text 出品する
    = link_to image_tag("/images/icon_camera.png",width: '54',alt: "画像",class: "New-createBtn__icon")