.Header
  .HeaderInner
    .Header__top
      %h1.Header__top__icon
        = link_to root_path do
          = image_tag("/images/logo.png", width: '140',height: '40',alt: "画像")
      %form.Form__contents
        %input.Form__contents__search{"placeholder": "キーワードから探す", "type": "text"}
        .Form__contents__btn
          .Btn__image
            = link_to image_tag("/images/icon-search 1.png",width: '19',alt: "画像")
    .Header__under
      .Under-left
        = link_to root_path, class: "Under-left__category" do
          カテゴリー
        = link_to root_path, class: "Under-left__brand" do
          ブランド
      .Under-right
        - if user_signed_in?
          = link_to destroy_user_session_path, method: :delete, class: "Under-right__login" do
            ログアウト
          = link_to user_path(current_user.id), class: "Under-right__ragistration" do
            マイページ
        - else
          = link_to new_user_session_path, class: "Under-right__login" do
            ログイン
          = link_to new_user_registration_path, class: "Under-right__ragistration" do
            新規会員登録