%head
  %meta{"charset":"UTF-8"}
  %link{"href": "style.css", "rel": "stylesheet"}
  %title FURIMA
%body
  = render "items/header"
  

  .Main
    .Main-top
      .Main-top__content
        .Content-word
          %h2.Content-word__title
                                 
            %br/                     
            人生を変えるフリマアプリ 
          %p.Content-word__sub
            FURIMAはだれでもかんたんに出品・購入できる
            %br/
            フリマアプリです
        .Content-items
          .Content-items__app
            = link_to image_tag("/assets/icon/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg",width: '200',height: '57',alt: "画像")
          .Content-items__google
            = link_to image_tag("/assets/icon/google-play-badge (1).png",width: '200',height: '80',alt: "画像")
    .Main-choice
      %h2.Main-choice__title FURIMAが選ばれる3つの理由
      %ul.Choice-lists
        %li.Choice-lists__list
          .List-picture
            %span.List-picture__number 1
            = image_tag("/assets/pict-reason-01.jpg" ,alt: "画像",class: "List-picture__image")
          %h3.List-text
            %span 3分
            ですぐに出品  
          %p.List-discription
            スマホで入力するだけで簡単に出品できる！
        %li.Choice-lists__list
          .List-picture
            %span.List-picture__number 2
            = image_tag("/assets/pict-reason-02.jpg",alt: "画像",class: "List-picture__image")
          %h3.List-text
            %span シンプル
            で使いやすい
          %p.List-discription
            めんどくさい入力は必要なく、検索も購入もスムーズ！
        %li.Choice-lists__list
          .List-picture
            %span.List-picture__number 3
            = image_tag("/assets/pict-reason-03.jpg",alt: "画像",class: "List-picture__image")
          %h3.List-text
            手数料 
            %span 業界最安
          %p.List-discription
            最大3%でお得に出品&購入！
    .Main-member
      .Main-member__contents
        %h2.Main-member__contents__title 会員数日本一位
        %p.Main-member__contents__text
          FURIMAは、フリマアプリで最も人気。
          %br/
          出品・購入回数も業界最多です！
          %br/
          ほしかったあの商品に出会えるかもしれません。
        .Contents-btn
          = link_to image_tag("/assets/icon/Download_on_the_App_Store_Badge_US-UK_RGB_blk_092917.svg",width: '200',height: '57',alt: "画像",class: "Contents-btn__abtn")
          = link_to image_tag("/assets/icon/google-play-badge (1).png",width: '200',height: '80',alt: "画像",class: "Contents-btn__gbtn")
    .Main-feature
      %h2.Main-feature__title FURIMAの特徴
      .Main-feature__items
        .Feature-item
          .Feature-item__imgs
            = image_tag("/assets/icon/icon-01.png",alt: "画像",class: "Feature-item__imgs__img")
          %h3.Feature-item__sub
            簡単に売り買いできる
          %p.Feature-item__comment
            スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
        .Feature-item
          .Feature-item__imgs
            = image_tag("/assets/icon/icon-03.png",alt: "画像",class: "Feature-item__imgs__img")
          %h3.Feature-item__sub
            売上金は即日振込みに対応
          %p.Feature-item__comment
            午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
        .Feature-item
          .Feature-item__imgs
            = image_tag("/assets/icon/icon-04.png",alt: "画像",class: "Feature-item__imgs__img")
          %h3.Feature-item__sub
            様々な支払いに対応
          %p.Feature-item__comment
            お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。
    .Main-category
      %h2.Main-category__title ピックアップカテゴリー
      .Main-category__boxs
        .Main-category__boxs__head
          =link_to("/",class: "Main-category__boxs__head__link") do
            新規投稿商品
        .Main-category__boxs__lists
          .List
            =link_to image_tag("/assets/a1b7eeaf5ca02fa834c7cfdf40edc88d_w.jpg",alt: "画像",class: "List__img")
            .List__body
              %h3.List__body__name テスト
              .List__body__details
                %ul
                  %li 10000円
                  = icon('fa', 'star', class: "List__body__details__icon")
                %p.List__body__details__tax (税込)
          .List
            =link_to image_tag("/assets/32ccebf7c652936f439a2ebd949f864e_w.jpg",alt: "画像",class: "List__img")
            .List__body
              %h3.List__body__name west
              .List__body__details
                %ul
                  %li 20000円
                  = icon('fa', 'star', class: "List__body__details__icon")
                %p.List__body__details__tax (税込)
          .List
            =link_to image_tag("/assets/e316a53e024d2a22dbfe5c77fe755844_w.jpg",alt: "画像",class: "List__img")
            .List__body
              %h3.List__body__name test
              .List__body__details
                %ul
                  %li 30000円
                  = icon('fa', 'star', class: "List__body__details__icon")
                %p.List__body__details__tax (税込)
          .List
            =link_to image_tag("/assets/e24104f2ae195bfda02f7b9a1f815dd3_w.jpg",alt: "画像",class: "List__img")
            .List__body
              %h3.List__body__name 123
              .List__body__details
                %ul
                  %li 40000円
                  = icon('fa', 'star', class: "List__body__details__icon")
                %p.List__body__details__tax (税込)
          .List
            =link_to image_tag("/assets/acb991ea415eccb3066e8a20765223f6_w.jpg",alt: "画像",class: "List__img")
            .List__body
              %h3.List__body__name ABC
              .List__body__details
                %ul
                  %li 50000円
                  = icon('fa', 'star', class: "List__body__details__icon")
                %p.List__body__details__tax (税込)
    .Main-brand
      %h2.Main-category__title ピックアップブランド
      .Main-category__boxs
        .Main-category__boxs__head
          =link_to("/",class: "Main-category__boxs__head__link") do
            アーカイバ
        .Main-category__boxs__lists
          .List
            =link_to image_tag("/assets/a1b7eeaf5ca02fa834c7cfdf40edc88d_w.jpg",alt: "画像",class: "List__img")
            .List__body
              %h3.List__body__name テスト
              .List__body__details
                %ul
                  %li 10000円
                  = icon('fa', 'star', class: "List__body__details__icon")
                %p.List__body__details__tax (税込)
          .List
            =link_to image_tag("/assets/32ccebf7c652936f439a2ebd949f864e_w.jpg",alt: "画像",class: "List__img")
            .List__body
              %h3.List__body__name west
              .List__body__details
                %ul
                  %li 20000円
                  = icon('fa', 'star', class: "List__body__details__icon")
                %p.List__body__details__tax (税込)
          .List
            =link_to image_tag("/assets/e316a53e024d2a22dbfe5c77fe755844_w.jpg",alt: "画像",class: "List__img")
            .List__body
              %h3.List__body__name test
              .List__body__details
                %ul
                  %li 30000円
                  = icon('fa', 'star', class: "List__body__details__icon")
                %p.List__body__details__tax (税込)
          .List
            =link_to image_tag("/assets/e24104f2ae195bfda02f7b9a1f815dd3_w.jpg",alt: "画像",class: "List__img")
            .List__body
              %h3.List__body__name 123
              .List__body__details
                %ul
                  %li 40000円
                  = icon('fa', 'star', class: "List__body__details__icon")
                %p.List__body__details__tax (税込)
          .List
            =link_to image_tag("/assets/acb991ea415eccb3066e8a20765223f6_w.jpg",alt: "画像",class: "List__img")
            .List__body
              %h3.List__body__name ABC
              .List__body__details
                %ul
                  %li 50000円
                  = icon('fa', 'star', class: "List__body__details__icon")
                %p.List__body__details__tax (税込)
  = render "items/footer"
  .New-createBtn
    %span.New-createBtn__text 出品する
    = link_to image_tag("/assets/icon/icon_camera.png",width: '54',alt: "画像",class: "New-createBtn__icon")
