%head
.Purchases
  .Purchases__header
    = image_tag 'logo.png', class: 'FurimaLogo'
%body
  .Contents
    .Goods
      %p 出品内容
      .Goods__image
        %label 出品画像
        %span 必須
        %p 最大10枚までアップロードできる
        .Goods__image__body
          %label{"class": "btn"}
            = image_tag "icon_camera.png", class:"camera"
            %input{"type": "file"}
      .Goods__name
        %label 商品名
        %span 必須
        .Goods__name__text
          %input{"placeholder": "40文字まで", "type": "text"}
      .Goods__description
        %label 商品の説明
        %span 必須
        .Goods__description__text
          %input{"placeholder": "製品の説明（色、素材、重さ、定価、注意点など)", "type": "text"}
    .Details
      %p 商品の詳細
      .Details__category
        %label カテゴリー
        %span 必須
        .Details__category__text
          %input{"placeholder": "選択してください", "type": "text"}
      .Details__burando
        %label ブランド
        %span 任意
        .Details__burando__text
        %input{"placeholder": "例）シャネル", "type": "text"}
      .Details__status
        %label 商品の状態
        %span 必須
      .Details__status__text
        %input{"placeholder": "選択してください", "type": "text"}
    .Delivery
      %p 配送について
      .Delivery__cost
        %label 配送料の負担
        %span 必須
        .Delivery__cost__text
          %input{"placeholder": "選択してください", "type": "text"}
      .Delivery__area
        %label 配送元の地域
        %span 必須
        .Delivery__area__text
          %input{"placeholder": "選択してください", "type": "text"}
      .Delivery__date
        %label 配送までの日数
        %span 必須
        .Delivery__date__text
          %input{"placeholder": "選択してください", "type": "text"}
    .Price
      %p 価格
      .Price__selling
        %label 販売価格
        %span 必須
      .Price__mark
        %label ￥
        .Price__yen
          %input{"placeholder": "0", "type": "number"}
    .Listing
      = link_to "", class: "Listing__sell" do
        出品する
      = link_to "", class: "Listing__save" do
        下書きに保存
      = link_to "", class: "Listing__back" do
        戻る
%footer
  .Purchases__footer
    .Purchases__footer__content
      %ul.Purchases__footer__content__list
        %li.Purchases__footer__content__list__type プライバシーポリシー
        %li.Purchases__footer__content__list__type FURIMA利用規約
        %li.Purchases__footer__content__list__type 特定商取引に関する表記
    = image_tag 'logo.png', class: 'FurimaLogo'
