
= render "items/header"

.Main
  .Main__show
    .Main__show__contentRight
      .Main__show__contentRight__topContent
        .Main__show__contentRight__topContent__itemBox
          .Main__show__contentRight__topContent__itemBox__name
            = @item.name
          .Main__show__contentRight__topContent__itemBox__body
            .itemBox3


            - @item.images.each do |image|
              = image_tag image.photo.url, size: '450x400'
              
              %ul
              - @item.images.each do |image|
                = image_tag image.photo.url, size: '100x100'
              - @item.images.each do |image|
                = image_tag image.photo.url, size: '100x100'



          .Main__show__contentRight__topContent__itemBox__price
            = @item.price
            円

             
          .Main__show__contentRight__topContent__itemBox__price
            = @item.price

          .Main__show__contentRight__topContent__itemBox__price-detail
            (税込)
            送料込み
          .Main__show__contentRight__topContent__itemBox__itemDetail
            商品詳細表
          .Main__show__contentRight__topContent__itemBox__table
            .Main__show__contentRight__topContent__itemBox__table__tbody
              .table-contents
                .table-left
                  出品者
                .table-right
                  = @user.nickname
              .table-contents
                .table-left
                  カテゴリー
                .table-right
                  = link_to "#",class:"skyblue"do
                    =@item.category.root.name
                    = icon'fas', 'angle-left'
                  = link_to "#",class:"skyblue"do
                    =@item.category.parent.name
                    = icon'fas', 'angle-left'
                  = link_to "#",class:"skyblue"do
                    =@item.category.name
                    

              .table-contents
                .table-left
                  ブランド
                .table-right
                  = @item.brand
              .table-contents
                .table-left
                  商品のサイズ
                .table-right
                  = link_to "#",class:"skyblue"do
                    =@item.size.root.name
                    = icon'fas', 'angle-left'
                  = link_to "#",class:"skyblue"do
                    =@item.size.name
              .table-contents
                .table-left
                  商品の状態
                .table-right
                  = @item.condition.name
              .table-contents
                .table-left
                  配送料の負担
                .table-right
                  = @item.cost.name
              .table-contents
                .table-left
                  発送元の地域
                .table-right
                  = link_to "#",class:"skyblue"do
                    = @item.prefecture.name
              .table-contents
                .table-left
                  発送日の目安
                .table-right
                  = @item.days.name


          .Main__show__contentRight__topContent__itemBox__optionalArea
            %ul.optinalArea2
              %li.optinalArea3
               

                = link_to likes_path(item_id: @item.id),class:"optinalArea4", method: :post do
                  = icon'fas', 'star',class:"like-btn"
                  お気に入り
                  = @item.likes.count
        
        %ul.Main__show__contentRight__links
          %li.Main__show__contentRight__links__links2
            - if @prev_item.present? 
              = link_to purchases_items_path(@prev_product),class:"before__item" do  
                = icon'fas', 'angle-left'   
                = @prev_item.name
    
          %li.links3
            - if @next_item.present?  
              = link_to purchases_items_path(@next_product),class:"after__item" do 
                = @next_item.name
                = icon'fas', 'angle-right'

      
        %li.Main__show__contentRight__relatedItems__relatedItems2
          = link_to "items_path",class:"Main__show__contentRight__relatedItems__relatedItems2__relatedItems3" do
            →その他の商品をもっと見る
            
      .Main__show__contentRight__relatedItems
        .Main__show__contentRight__relatedItems__puroductLists


          -@items.first(2).each do |item|
            .Main__show__contentRight__relatedItems__puroductLists__puroductList
              = link_to item_path(id: @item.id),class:"product--img" do
                = image_tag item.images.first.photo.url, size: '200x170'
                .productList--img
                .productList--body
                  = item.name
                  .detail
                    %ul.detail2
                      %li.detail3
                        = item.price
                        円
                      %li.detail4
                        = icon'fas', 'star',class:"like-btn" 
                        = @item.likes.count
                    %p.detail5
                      (税込)
          
= render "items/footer"



- if @item.buyer.blank?
  - if user_signed_in?
    - if @item.seller_id == current_user.id
      .Edit_Item_Btn
        %span.Edit_Item_Btn__Text 編集する
        = link_to root_path do
          = icon 'fas', 'fas fa-cog fa-3x', class: 'Edit_Item_Btn__Icon'
    - else
      .Purchase_Item_Btn
        %span.Purchase_Item_Btn__Text 購入する
        = link_to purchase_item_buyer_path("item_id": @item.id, "user_id": current_user.id) do
          = icon 'fas', 'fas fa-shopping-cart fa-3x', class: 'Purchase_Item_Btn__Icon'
  - else
    .Sign_Item_Btn
      %span.Sign_Item_Btn__Text 新規登録して購入する
      = link_to new_user_registration_path do
        = icon 'fas', 'fas fa-sign-in-alt fa-3x', class: 'Sign_Item_Btn__Icon'
- else
  .NoPurchase_Item_Btn
    %span.NoPurchase_Item_Btn__Text 売却済
    = link_to root_path do
      = icon 'far', 'far fa-times-circle fa-3x', class: 'Purchase_Item_Btn__Icon'

