
= render "items/header"

.Main
  .Main__show
    .Main__show__contentRight
      .Main__show__contentRight__topContent
        .Main__show__contentRight__topContent__itemBox
          .Main__show__contentRight__topContent__itemBox__name
            = @item.name
          .Main__show__contentRight__topContent__itemBox__body
            .itemBox3
              = image_tag @item.images.first.photo.url, class: "List__img", width: '450', height: '400', alt: '画像'
              -# %ul
              -# - if @item.images.second.photo.url.present?
              -#   = image_tag @item.images.second.photo.url, class: "List__img", width: '100', height: '100', alt: '画像'

          .Main__show__contentRight__topContent__itemBox__price
            = @item.price
          .Main__show__contentRight__topContent__itemBox__price-detail
            (税込)
            送料込み
          .Main__show__contentRight__topContent__itemBox__itemDetail
            商品詳細表
      
          .Main__show__contentRight__topContent__itemBox__table
            .Main__show__contentRight__topContent__itemBox__table__tbody
              .table-contents
                .table-left
                  出品者
                .table-right
                  aaaa 
              .table-contents
                .table-left
                  カテゴリー
                .table-right
                  = link_to "#",class:"skyblue"do
                    ベビー・キッズ
                  = link_to "#",class:"skyblue"do
                    ベビー服(男の子用)~95㎝
                  = link_to "#",class:"skyblue"do
                    アウター    
              .table-contents
                .table-left
                  ブランド
                .table-right
                  aa
              .table-contents
                .table-left
                  商品のサイズ
                .table-right
                  aa
              .table-contents
                .table-left
                  商品の状態
                .table-right
                  新品/未使用
              .table-contents
                .table-left
                  配送料の負担
                .table-right
                  送料込み（出品者負担）  
              .table-contents
                .table-left
                  発送元の地域
                .table-right
                  = link_to "#",class:"skyblue"do
                    北海道  
              .table-contents
                .table-left
                  発送日の目安
                .table-right
                  1-2日で発送
          .Main__show__contentRight__topContent__itemBox__optionalArea
            %ul.optinalArea2
              %li.optinalArea3
              = link_to "#",class:"optinalArea4" do
                = icon'fas', 'star'
                お気に入り  1
              %li.optinalArea5
              = link_to "#",class:"optinalArea6" do
                = icon'fas', 'flag'
                不適切な商品の通報
                
        .commentBox
          .commentBox__commentContents
            %textarea{type: "text_area", class: "commentBox__commentContents__text_area"}
          
          .commentBox__noticeMsg
            相手のことを考え丁寧なコメントを心がけましょう。
            %br
            不快な言葉遣いなどは利用制限や退会処分となることがあります。

          .commentBox__button
            = link_to "/",class:"commentBox__button__commnets__btn" do
              = icon'fas', 'comment' 
              コメントする
            
      %ul.Main__show__contentRight__links
        %li.Main__show__contentRight__links__links2
          = link_to "#",class:"before__item" do
            = icon'fas', 'angle-left'     
            %span
            前の商品
        %li.links3
          = link_to "#",class:"after__item" do 
            %span
            後ろの商品
            = icon'fas', 'angle-right'

      .Main__show__contentRight__relatedItems
        %li.Main__show__contentRight__relatedItems__relatedItems2
          = link_to "#",class:"Main__show__contentRight__relatedItems__relatedItems2__relatedItems3" do
            ベビー・キッズをもっと見る
        .Main__show__contentRight__relatedItems__puroductLists
          .Main__show__contentRight__relatedItems__puroductLists__puroductList
            = link_to "#",class:"product--img" do
              .productList--img
                =image_tag("/images/product-image-06.jpeg",width: '200',height: '170', alt: "画像") 
              .productList--body
                product3
                .detail
                  %ul.detail2
                    %li.detail3
                      30000円
                    %li.detail4
                      = icon'fas', 'star' 
                      1
                  %p.detail5
                    (税込)

= render "items/footer"

- unless @item.buyer.present? 
  .New-createBtn
    %span.New-createBtn__text 購入する
    = link_to purchase_item_buyer_path(@item.id), class:"path" do
      = image_tag "/images/icon_camera.png",width: '54',alt: "画像",class: "New-createBtn__icon"

      -# if @item.seller_id == current.user_id  その商品詳細ページを開いている人が出品者であること
      -#   編集（削除）画面へ
      -# elsif @item.buyer.blunk?  購入者が存在していないこと
      -#   購入画面へ
      -# end