.Page
  .HeadContent
    = render "devise/shared/header"

  .MainSpaceCard
    .MainSpaceCard__Title
      お支払い方法
    .MainSpaceCard__Contents
      .MainSpaceCard__Contents__Title
        クレジットカード一覧
      .Card_Section
        - if @card.present?
          .Card_Section__Info
            .Card_Section__Info__Number
              登録クレジットカードナンバー
              %br
              = "**** **** **** " + @card_info.last4
            .Card_Section__Info__Period
              有効期限
              = @card_info.exp_month.to_s + " / " + @card_info.exp_year.to_s.slice(2,3)
            .CardActions
              = button_to "削除する", card_path(@card), method: :delete, class:"CommitBtn"
        - else
          .NewCard
            = link_to new_card_path, class:"NewCardBtn" do
              = icon 'far', 'fa-credit-card' 
              クレジットカードを追加する
      .ActionsCard
        = link_to user_path(current_user.id), class: 'CommitBtn' do
          マイページへ
      .ActionsCard
        = link_to destroy_user_session_path, method: :delete, class: 'CommitBtn' do
          ログアウト

  .FootContent
    = render "devise/shared/footer"